<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
  <link rel="stylesheet" th:href="@{/res/layui/css/layui.css}"></link>
  <link rel="stylesheet" th:href="@{/res/css/global.css}"></link>
  <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}"></link>
</head>
<body>
<script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<script th:include="common/common :: script"></script>
<!---->
<div th:include="common/common :: commonHeader"></div>
<!--横-->
<div th:include="common/common :: navigation"></div>

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8 content detail">
      <div class="fly-panel detail-box">
          <h1 th:text="${post.postTitle}"></h1>

          <div class="detail-about">
              <div class="fly-detail-user" style="margin-left:-60px">
                  <a th:href="@{/user/home/{userId}(userId=${post.postUserId})}" class="fly-link">
                      <cite th:text="${post.postUserName}"></cite>
                  </a>
                  <span th:text="${post.postCreatTime}"></span>
              </div>
          </div>

          <div class="detail-body photos">
              <p th:text="${post.postContent}"></p>

              <hr>
              <span>
                  <a th:href="@{/file/downloadFile/{fileId}(fileId=${post.postId})}" th:download="@{/file/downloadFile/{fileId}(fileId=${post.postId})}" style="color: white;text-decoration: none"  class="layui-btn" >下载</a>
                  <button class="layui-btn" th:onclick="'collectionF(\'' + ${post.postTitle} + '\',\'' + ${post.postUserId} +'\',\''+${post.postId}+'\')'">收藏</button>
              </span>

              <div class="fly-detail-info" style="margin-top: -35px">
                  <span class="fly-list-nums">
                    <!--<span class="layui-btn layui-btn-xs jie-admin" type="del" style="margin-top: 7px">删除</span>-->
                    <span style="display: inline-block;margin-top: 5px"><i class="iconfont" title="回答">&#xe60c;</i> <i style="margin-left:-15px" th:text="${contentsNums}"></i> </a>
                  </span>
              </div>
          </div>
      </div>

      <div class="fly-panel detail-box" id="flyReply">
          <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
              <legend>回帖</legend>
          </fieldset>

          <ul class="jieda" id="jieda" >
              <div th:each="content:${contents}">
                  <li data-id="111" class="jieda-daan" style="border-bottom: 2px dotted #e2e2e2;">
                      <a name="item-1111111111"></a>
                      <div class="detail-about detail-about-reply" style="margin-left: -60px">
                          <div class="fly-detail-user">
                              <a th:href="@{/user/home/{userId}(userId=${content.userId})}" class="fly-link">
                                  <cite th:text="${content.userName}"></cite>
                              </a>
                              <span style="display: inline-block; float: right">
                                 <i th:text="'# ' +${contentStat.index+1}"></i>
                              </span>
                          </div>

                          <div class="detail-hits">
                              <span th:text="${content.contentTime}"></span>
                          </div>
                      </div>
                      <div class="detail-body jieda-body photos">
                          <p th:text="${content.contentMsg}"></p>
                      </div>
                      <div class="jieda-reply">
                          <shiro:hasRole name="common">　　
                          <span type="reply" style="margin-left:-35px" th:onclick="'replyF(\'' + ${content.userName} + '\')'">
                                <i class="iconfont icon-svgmoban53"></i>
                                回复
                         </span>
                          </shiro:hasRole>
                         <!-- <div class="jieda-admin">
                              <span type="del">删除</span>
                          </div>-->
                      </div>
                  </li>
              </div>
          </ul>

          <div class="layui-form layui-form-pane">
              <form th:action="@{/post/comment}" method="post">
                  <div class="layui-form-item layui-form-text">
                      <a name="comment"></a>
                      <div class="layui-input-block">
                          <textarea id="L_content" name="content" required lay-verify="required" placeholder="请输入内容"  class="layui-textarea fly-editor" style="height: 150px;"></textarea>
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <input type="hidden" name="userId" th:value="${userId}">
                      <input type="hidden" name="userName" th:value="${userName}">
                      <input type="hidden" name="postId" th:value="${post.postId}">
                      <input type="hidden" name="postName" th:value="${post.postTitle}">
                      <button class="layui-btn" lay-filter="*" lay-submit>提交回复</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
      <div class="layui-col-md4">
          <dl class="fly-panel fly-list-one">
              <dt class="fly-panel-title">本周热议</dt>
              <i th:each="rand:${postRands}">
                  <dd>
                      <a th:href="@{/post/toDetail/{postId}(postId=${rand.postId})}" th:text="${rand.postTitle}" style="text-decoration: none">基于 layui 的极简社区页面模版</a>
                      <span ><i class="iconfont icon-pinglun1"></i> <span th:text="${rand.commentNums}"></span></span>
                  </dd>
              </i>

          </dl>
      </div>
</div>

<div  th:include="common/common :: footer"></div>

<script th:src="@{/res/layui/layui.js}"></script>
<script>
  /*点赞*/

layui.config({
  version: "3.0.0",
  base: './res/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>
<script type="text/javascript">
  $(function () {
    $("#s1").addClass("layui-this");
  });

  function delF(fileId) {
      $.ajax({
          url:"/file/delFile/"+fileId,
          type:"put",
          dataType:"json",
          cache:false,
          success:function(data){//ajax返回的数据
                $('#bt' + fileId).parent().parent().remove();
          },
          error:function (data) {
              layer.msg("请登录哦~")
          }

      });
  }
    function collectionF(postTitle,postUserId,postId) {
      console.log(postTitle,postUserId,postId);
        $.ajax({
            url:"/post/collectionPost/"+postTitle+"/"+postUserId+"/"+postId,
            type:"put",
            dataType:"json",
            cache:false,
            success:function(data){//ajax返回的数据
                if (data.success == 1) {
                    alert("收藏成功!");
                } else {
                    alert("收藏成功!");
                }
            },
            error:function (data) {
                layer.msg("请登录哦~")
            }

        });
    }
  function replyF(userName) {
      $("#L_content").text("@" + userName + "  ");
  }
</script>
</body>
</html>