<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
  <link rel="stylesheet" th:href="@{/res/layui/css/layui.css}"></link>
  <link rel="stylesheet" th:href="@{/res/css/global.css}"></link>
  <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}"></link>
</head>
<body>
<script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<script th:include="common/common :: script"></script>
<!---->
<div th:include="common/common :: commonHeader"></div>
<!--横-->
<div th:include="common/common :: navigation"></div>

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8 content detail">
      <div class="fly-panel detail-box">
          <h1 style="font-size: 50px;line-height: 150%;padding: 0 0 5px 5px;font-weight: 700;    color: #2965b1;" th:text="${post.postTitle}"></h1>

          <div class="detail-about">
              <div class="fly-detail-user" style="margin-left:-60px;font-size: 15px">
                  <span  >楼主</span>
                  <a style="text-decoration: none" th:href="@{/user/home/{userId}(userId=${post.uid})}" class="fly-link">
                      <cite th:text="${post.postUserName}"></cite>
                  </a>
                  <span th:text="${post.postCreatTime}"></span>
              </div>
          </div>

          <div class="detail-body photos" style="font-size: 20px">
              <div class="layui-tab layui-tab-card">
                  <div class="layui-tab-content" >
                      <div class="layui-tab-item layui-show"> <p th:text="${post.postContent}" style="display: block;"></p></div>
                  </div>
              </div>


              <hr>
              <span>
                  <a th:href="@{/file/downloadFile/{fileId}(fileId=${post.pid})}" th:download="@{/file/downloadFile/{fileId}(fileId=${post.pid})}" style="color: white;text-decoration: none"  class="layui-btn" >下载</a>
                  <button class="layui-btn" th:onclick="'collectionF(\'' + ${post.postTitle} + '\',\'' + ${post.uid} +'\',\''+${post.pid}+'\')'">收藏</button>
                   <shiro:hasRole name="common">　　
                          <i th:if="${session.userId} == ${post.uid}">
                             <button type="button" style="margin-left:-20px" class="layui-btn layui-btn-danger" th:onclick="'delPost(\'' + ${post.pid} + '\')'">删除</button>
                          </i>
                   </shiro:hasRole>　　
              </span>

              <div class="fly-detail-info" style="margin-top: -35px">
                  <span class="fly-list-nums">
                    <!--<span class="layui-btn layui-btn-xs jie-admin" type="del" style="margin-top: 7px">删除</span>-->
                    <span style="display: inline-block;margin-top: 5px"><i class="iconfont" title="回答">&#xe60c;</i> <i style="margin-left:-15px" th:text="${contentsNums}"></i> </a>
                  </span>
              </div>
          </div>
      </div>

      <div class="fly-panel detail-box" id="flyReply">
          <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
              <legend style="font-size: 30px;font-weight: 700">回帖</legend>
          </fieldset>

          <ul class="jieda" id="jieda" >
              <div th:each="content:${contents}">
                  <li data-id="111" class="jieda-daan" style="border-bottom: 2px dotted #e2e2e2;">
                      <a name="item-1111111111"></a>
                      <div class="detail-about detail-about-reply" style="margin-left: -60px">


                                  <div class="fly-detail-user" >
                                      <a th:href="@{/user/home/{userId}(userId=${content.uid})}" style="font-style: 15px;text-decoration: none" class="fly-link">
                                          <cite th:text="${content.userName}"></cite>
                                      </a>
                                      <span style="display: inline-block; float: left;margin-right:10px;font-size: 15px;">
                                         <i th:text="'# ' +${contentStat.index+1}"></i>
                                      </span>
                              </div>
                          <div class="detail-hits">
                              <span th:text="${content.contentTime}"></span>
                          </div>
                          <div class="detail-body jieda-body photos">
                              <p style="font-size: 20px;" th:text="${content.contentMsg}"></p>
                          </div>
                      <div class="jieda-reply">
                          <shiro:hasRole name="common">　　
                              <i th:if="${session.userId} != ${content.uid}">
                          <span type="reply" style="margin-left:-35px" th:onclick="'replyF(\'' + ${content.userName} + '\')'">
                                <i class="iconfont icon-svgmoban53"></i>
                                回复
                         </span>
                              </i>

                              <i th:if="${session.userId} == ${content.uid}">
                                  <span type="del" style="margin-left:-30px" th:id="'dc' + ${content.conid}" th:onclick="'delContent(\'' + ${content.conid}+ '\')'">删除</span>
                              </i>
                          </shiro:hasRole>
                      </div>
                  </li>
              </div>
          </ul>
          <shiro:hasRole name="common">　　
          <div class="layui-form layui-form-pane">
              <form th:action="@{/post/comment}" method="post" id="conetF">
                  <div class="layui-form-item layui-form-text">
                      <a name="comment"></a>
                      <div class="layui-input-block">
                          <textarea id="L_content" name="content" required lay-verify="required" placeholder="请输入内容"  class="layui-textarea fly-editor" style="height: 150px;"></textarea>
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <input type="hidden" name="userId" th:value="${userId}">
                      <input type="hidden" name="userName" th:value="${userName}">
                      <input type="hidden" name="postId" th:value="${post.pid}">
                      <input type="hidden" name="postName" th:value="${post.postTitle}">
                      <input type="text" id="check" style="width: 230px;display:inline-block;margin-bottom:20px" name="checkC"  placeholder="请输入验证码（不区分大小写）" autocomplete="off" class="input-val layui-input">
                      <canvas id="canvas" style="width: 120px;height:38px"></canvas>
                      <button class="layui-btn" id="submitC" style="display: block;" lay-filter="*" type="button">提交回复</button>
                  </div>
              </form>
          </div>
          </shiro:hasRole>
      </div>
  </div>
      <div class="layui-col-md4">
          <dl class="fly-panel fly-list-one">
              <dt class="fly-panel-title">本周热议</dt>
              <i th:each="rand:${postRands}">
                  <dd>
                      <a th:href="@{/post/toDetail/{postId}(postId=${rand.pid})}" th:text="${rand.postTitle}" style="text-decoration: none">基于 layui 的极简社区页面模版</a>
                      <span style="display: block;float: right;"><i class="iconfont icon-pinglun1"></i> <span th:text="${rand.commentNums}"></span></span>
                  </dd>
              </i>

          </dl>
      </div>
</div>

<div  th:include="common/common :: footer"></div>

<script th:src="@{/res/layui/layui.js}"></script>
<script>
  /*点赞*/

layui.config({
  version: "3.0.0",
  base: '/res/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>
<script type="text/javascript">
  $(function(){
      $("#s1").addClass("layui-this");
      var show_num = [];
      draw(show_num);

      $("#canvas").on('click',function(){
          draw(show_num);
      })
      $("#submitC").on('click',function(){
          var val = $(".input-val").val().toLowerCase();
          var num = show_num.join("");
          if(val==''){
              layer.msg('请输入验证码！');
          }else if(val == num){
              layer.msg("留言成功成功!");
              $(".input-val").val('');
              $("#conetF").submit()
              draw(show_num);

          }else{
              layer.msg('验证码错误！请重新输入！');
              $(".input-val").val('');
              draw(show_num);
          }
      })
  })

  function draw(show_num) {
      var canvas_width=$('#canvas').width();
      var canvas_height=$('#canvas').height();
      var canvas = document.getElementById("canvas");//获取到canvas的对象，演员
      var context = canvas.getContext("2d");//获取到canvas画图的环境，演员表演的舞台
      canvas.width = canvas_width;
      canvas.height = canvas_height;
      var sCode = "A,B,C,E,F,G,H,J,K,L,M,N,P,Q,R,S,T,W,X,Y,Z,1,2,3,4,5,6,7,8,9,0";
      var aCode = sCode.split(",");
      var aLength = aCode.length;//获取到数组的长度

      for (var i = 0; i <= 3; i++) {
          var j = Math.floor(Math.random() * aLength);//获取到随机的索引值
          var deg = Math.random() * 30 * Math.PI / 180;//产生0~30之间的随机弧度
          var txt = aCode[j];//得到随机的一个内容
          show_num[i] = txt.toLowerCase();
          var x = 10 + i * 20;//文字在canvas上的x坐标
          var y = 20 + Math.random() * 8;//文字在canvas上的y坐标
          context.font = "bold 23px 微软雅黑";

          context.translate(x, y);
          context.rotate(deg);

          context.fillStyle = randomColor();
          context.fillText(txt, 0, 0);

          context.rotate(-deg);
          context.translate(-x, -y);
      }
      for (var i = 0; i <= 5; i++) { //验证码上显示线条
          context.strokeStyle = randomColor();
          context.beginPath();
          context.moveTo(Math.random() * canvas_width, Math.random() * canvas_height);
          context.lineTo(Math.random() * canvas_width, Math.random() * canvas_height);
          context.stroke();
      }
      for (var i = 0; i <= 30; i++) { //验证码上显示小点
          context.strokeStyle = randomColor();
          context.beginPath();
          var x = Math.random() * canvas_width;
          var y = Math.random() * canvas_height;
          context.moveTo(x, y);
          context.lineTo(x + 1, y + 1);
          context.stroke();
      }
  }

  function randomColor() {//得到随机的颜色值
      var r = Math.floor(Math.random() * 256);
      var g = Math.floor(Math.random() * 256);
      var b = Math.floor(Math.random() * 256);
      return "rgb(" + r + "," + g + "," + b + ")";
  }
  function delPost(postId) {
      $.ajax({
          url:"/post/delPost/"+postId,
          type:"put",
          dataType:"json",
          cache:false,
          success:function(data){//ajax返回的数据
              if (data.success == 1) {
                  alert("删除成功!");
                  window.location.href = '/post/toPost';
              } else {
                  layer.msg("删除失败!");
              }

          },
          error:function (data) {
              layer.msg("请登录哦~")
          }

      });
  }

  function delContent(contentId) {
      $.ajax({
          url:"/post/delContent/"+contentId,
          type:"put",
          dataType:"json",
          cache:false,
          success:function(data){//ajax返回的数据
              if (data.success == 1) {
                  layer.msg("删除成功!");
                  $('#dc' + contentId).parent().parent().parent().parent().remove();
              } else {
                  layer.msg("删除失败!");
              }


          },
          error:function (data) {
              layer.msg("请登录哦~")
          }

      });
  }

    function collectionF(postTitle,postUserId,postId) {
      console.log(postTitle,postUserId,postId);
        $.ajax({
            url:"/post/collectionPost/"+postTitle+"/"+postUserId+"/"+postId,
            type:"put",
            dataType:"json",
            cache:false,
            success:function(data){//ajax返回的数据
                if (data.success == 1) {
                    alert("收藏成功!");
                } else {
                    alert("收藏成功!");
                }
            },
            error:function (data) {
                layer.msg("请登录哦~")
            }

        });
    }
  function replyF(userName) {
      $("#L_content").text("@" + userName + "  ");
  }
</script>
</body>
</html>